#menu-bars {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9;
}

.box {
  margin: 0 auto;
  max-width: 800px;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  background-color: white;
}

h1 {
  // padding-top: 40px;
    margin-top: 0;
}

h2 {
  padding-top: 0px;
  padding-bottom: 20px;
}

p {
  padding-top: 0px;
  padding-right: 0px;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.container-porto{
  background-color: #F5F5F5;
}

#porto-title {
padding-top: 50px;
}

.box-porto {
margin: 0 auto;
  max-width: 1100px;
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}


// .card-picture {
//   height: 250px;
//   width: 270px;
//   background-size: cover;
//   background-position: center;
//   position: relative;

//   flex: 0 0 33,33%;
//   &:hover {
//     background-color: red;
//   }
// }


.padded {
  padding-top: 4em;
  padding-bottom: 4em;
}
.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 40px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #182e3d;
  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 20px;
  h2 {
    text-align: center;
    color: white;
    opacity: 1;
  }
  p {
    text-align: center;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
  // color: rgba(255, 255, 255, 0.8);
  }
}

.card:hover .card-hover {
  opacity: 0.7;
}


