// .header-wrapper {
//   position: relative;
//   height: 300px;
//   margin: 0 auto;
//   background-color: #F5F5F5;
// }


// .box-header{
//   position: relative;
//   width: 800px;
//   height: 250px;
//   margin: 0 auto;
//   background-color: #F5F5F5;
// }


// $bg : #74F3C5;
// $menu-color: white;
// $snappy : cubic-bezier(0.694,  0.048, 0.335, 1.000);

// body {
//   background-color: $bg;
// }

// .menu-container {
//   @include align();
//   .bars {
//     width: 120px;
//     height: 70px;
//     position: relative;
//     transition: transform 0.3s $snappy;
//     // border: 1px solid white;
//     span {
//       display: block;
//       width: 100%;
//       height: 10px;
//       background-color: $red;
//       margin-top: 20px;
//       &:first-child {
//         margin-top: 0;
//         transform: scaleX(1);
//         transition: transform 0.2s $snappy;
//         transition-delay: 0.4s;
//       }
//       &:nth-child(3) {
//         width: 100%;
//         transition: width 0.2s $snappy;
//         transition-delay: 0.4s;
//       }
//     }
//     .other-bar {
//       width: 10px;
//       height: 0;
//       background-color: $menu-color;
//       position: absolute;
//       top: -23px;
//       left: 50%;
//       margin-left: -5px;
//       transition: height 0.4s $snappy;
//       z-index: 10;
//     }
//   }
//   &.is-menu-open {
//     .bars {
//       transform: rotate(45deg);
//       transition-delay: 0.4s;
//       span {
//         &:first-child {
//           transform: scaleX(0);
//           transition: transform 0.2s $snappy;
//         }
//         &:nth-child(3) {
//           width: 0;
//           transition: width 0.2s $snappy;
//         }
//       }
//       .other-bar {
//         height: 120px;
//         transition: height 0.2s $snappy;
//         transition-delay: 0.3s;
//       }
//     }
//   }
// }


.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 730px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  // opacity: 0.8;
}

.banner h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
  padding-bottom: 15px;
}

.beam-banner {
  width: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.arrow-banner {
  width: 0;
  height: 20;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid blue;
  margin: auto;
  position: absolute;
 bottom: 0px;
  background-color: red
}
// .profile-header-infos {
//     padding: 20px 0;
//     height: 250px;
//   background-color: white;
//   opacity: 0;
// }
