
#menu-bars:hover {
color: #FA8258;
}

#sidebar {
  position: relative;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 170px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0);
  transform: translateX(-100%);
  transition: 0.2s;
  z-index: 999;
}

#sidebar i {
  position: absolute;
  top: 20px;
  left: 20px;
}

 #sidebar ul {
  position: absolute;
   top: 100px;
  left: 20px;
  list-style: none;
  padding-left: 0px;
}

#sidebar.opened  {
  transform: translateX(0);
}

h6 {
  color: #384047;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}

#sidebar a {
  text-decoration: none;
}

#menu-close:hover {
color: #FA8258;
}

#sidebar h6:hover {
color: #FA8258;
}

// #sidebar {
//     transition: 0.3s;
//     -webkit-transition: 0.3s;
//     position: fixed;
//     width: 40%;
//     height: 100%;
//     left: -60%;
//     top: 0px;
//     padding-top: 60px;
//     // z-index: 998;
//     // background: #fafafa;
//     background-color: red;
//     color: black;
//     overflow-y: auto;
//     -webkit-overflow-scrolling: touch;
// }





// a:link {
//   text-decoration: none;
//   color: grey;

// }

// li {
//     display: list-item;
//   padding: 15px;
//   text-decoration: none;
//   position: center;
// }
// .icons-hover:hover {
//   color: #FA5858;
// }

