
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/PICT2776.JPG');" id="home">
  <div class="banner-content">
    <h1>PORTFOLIO</h1>
    <p>JOJANNEKE TAMIS</p>
  </div>


</div>
<div class="header-wrapper" id="home">
  <i class="fa fa-bars fa-3x" id="menu-bars" ></i>
</div>


<body>



  <div id="sidebar">
    <nav class="nav">
      <i class="fa fa-times fa-3x" id="menu-close"></i>
      <ul class="nav__menu">
        <li><a href="#home"><h6>HOME</h6></a></li>
        <li><a href="#about"><h6>ABOUT</h6></a></li>
        <li><a href="#resume"><h6>RESUME</h6></a></li>
        <li><a href="#skills"><h6>SKILLS</h6></a></li>
        <li><a href="#porto"><h6>PORTFOLIO</h6></a></li>
        <li><a href="#contact"><h6>CONTACT</h6></a></li>
      </ul>
    </nav>
  </div>


    <div class="container-about text-center padded features" id="about">
      <div class="title container">

      </div>
      <h2>About me</h2>

      <div class="box-about">
        <p>Hello, I'm Jojanneke Tamis, a beginning full-stack webdeveloper.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates recusandae quaerat ut quam earum eos ullam est repellendus voluptatem incidunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, esse perferendis optio, enim iure facere corporis repellendus! Velit omnis, nemo sed. Aliquam, hic, placeat. </p></p>
        <img src="images/Jojanneke.JPG" alt="Jojanneke Tamis" class="avatar">
      </div>
    </div>

    <div class="container-resume text-center padded features" id="resume">
      <div class="box-resume" >
        <h2>Resume</h2>
        <ul class="v-timeline mt50">
          <li>
            <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-graduation-cap"></i> Education</h3>
          </li>
          <li>
            <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s" datetime="2015-03-13 19:00"><span>2016</span></time>
            <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-minus"></i></div>
            <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
              <h4 data-toggle="collapse" data-target="#toggle-1">Web Development Bootcamp -Le Wagon</h4>
              <p id="toggle-1" class="collapse in"><a href="http://www.lewagon.org/en">Le Wagon</a> is a coding school for entrepreneurs. Their Full-Stack Coding Bootcamp consists of an intensive full-time training in both Back-end and Front-end web application development with Ruby and Ruby on Rails.
              </div>
            </li>
            <li>
              <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.6s" datetime="2008-02-10 20:00"><span>2011 - 2014</span></time>
              <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"></i></div>
              <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.6s">
                <h4 data-toggle="collapse" data-target="#toggle-2">Bachelor of Arts in Cultural Antropology and Development Sociology</h4>
                <p id="toggle-2" class="collapse"><a href="http://http://www.universiteitleiden.nl/en/social-behavioural-sciences/cultural-anthropology-and-development-sociology">Leiden University</a> Leiden, the Netherlands.</p>
              </div>
            </li>
            <li>
              <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s" datetime="2004-06-30 20:00"><span>2007 - 2011</span></time>
              <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
              <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
                <h4 data-toggle="collapse" data-target="#toggle-3">Bachelor of Applied Science in Business Communications and Journalism></h4>
                <p id="toggle-3" class="collapse">Swiss certificate of capacity "CFC" & Professional diploma in Technology, Yverdon, Switzerland.</p>
              </div>
            </li>
          </ul>
          <br>
          <ul class="v-timeline mt50">
            <li>
              <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-briefcase"></i> Work experience</h3>
            </li>
            <li>
              <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s" datetime="2015-03-13 19:00"><span>2015 - present</span></time>
              <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-minus"></i></div>
              <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
                <h4 data-toggle="collapse" data-target="#toggle-4">Freelance software developer</h4>
                <p id="toggle-4" class="collapse in">Side projects: co-founder of <a href="http://sharkrank.co">SharkRank.co</a>, a community of Founders where they publicly rate and share experiences with angel investors and venture capital firms. <a href="http://visacountdown.com">VisaCountdown.com</a>: small software to help you calculate your remaining visa days in the Schengen area or/and Turkey.</p>
              </div>
            </li>
            <li>
              <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s" datetime="2014-06-27 12:00"><span>2010 - 2014</span></time>
              <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-plus"></i></div>
              <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.1s" >
                <h4 data-toggle="collapse" data-target="#toggle-5">Freelance software developer</h4>
                <p id="toggle-5" class="collapse">Youth group coordinator, organization and coordination of weekly activities, punctual events, summer and winter camps. Yverdon & Vevey, Switzerland.</p>
              </div>
            </li>
            <li>
              <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s" datetime="2010-07-30 17:00"><span>2009 - 2010</span></time>
              <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-plus"></i></div>
              <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.2s">
                <h4 data-toggle="collapse" data-target="#toggle-6">Freelance software developer</h4>
                <p id="toggle-6" class="collapse"><a href="http://reds.heig-vd.ch/en">ReDS institute</a>, University of Applied Sciences, Yverdon, Switzerland.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

<div class="container-skills text-center padded features" id="skills">
<h2>Skills</h2>
<div class="row">
<div class="col-xs-12 col-sm-3">
        <div class="text-container">
          <h3>Front-end</h3>
          <div class="text">
            <p>
              HTML5 & CSS3 (markup languages)
JavaScript (scripting language), jQuery & React.js (JavaScript libraries)
Bootstrap (mobile-first framework)
Advanced CSS techniques (flexbox, grid, animations.)
UX/UI best practices
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="text-container">
          <h3>Back-end</h3>
          <div class="text">
            <p>
                Ruby (programming language)
Ruby on Rails (web application framework)
SQL (structured query language for relational database management systems)
PostgreSQL (relational database management system)
APIs (application programming interfaces) & web services (Stripe, Mandril.)
            </p>
          </div>
        </div>
      </div>
<div class="col-xs-12 col-sm-3">
        <div class="text-container">
          <h3>Tools</h3>
          <div class="text">
            <p>
              command lines, Sublime Text, git, GitHub, Sketch, Heroku, Amazon S3.
            </p>
          </div>
        </div>
      </div>
      </div>
</div>


<div class="box-porto" id="porto">
 <div class="card">
  <div class="card-picture" style="background-image: url('http://unsplash.it/400/300')">
    <div class="card-hover">
      <h4>Project 1</h4>
      <p class="text-white">This is my work I'm proud of it.</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-picture" style="background-image: url('http://unsplash.it/400/300')">
    <div class="card-hover">
      <h4>Project 2</h4>
      <p class="text-white">This is my work I'm proud of it.</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-picture" style="background-image: url('http://unsplash.it/400/300')">
    <div class="card-hover">
      <h4>Project 3</h4>
      <p  class="text-white">This is my work I'm proud of it.</p>
    </div>
  </div>
</div>
</div>


<div class="box-contact" id="contact">
 <h2>Contact</h2>
 <div class="row">
   <div class="col-xs-3">
     <div class="contact-container">
       <p> Neem contact met me op via dit formulier</p>
     </div>
   </div>
   <div class="col-xs-9">
     <div class="form-contrainer">
      <form class="form-horizontal" role="form" method="post" action="index.php">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your name" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Your email" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="6" name="message" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <! Will be used to display an alert to the user>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="footer">
  <div class="row">
    <div class="col-xs-4">
      <ul class="list-inline">
        <li class="icons"><i class="fa fa-youtube fa-2x"></i></li>
        <li class="icons"><i class="fa fa-instagram fa-2x"></i></li>
        <li class="icons"><i class="fa fa-facebook fa-2x"></i></li>
        <li class="icons"><i class="fa fa-twitter fa-2x"></i></li>
      </ul>
    </div>
    <div class="col-xs-8 text-right">
      <p id="footer-text"> Gemaakt door Jojanneke</p>
    </div>
  </div>
</div>
</div>


</body>

